#{set title:'TRANSAT - Mon compte - Editer' /}
#{include 'header.html' /}

#{include 'menu_connecte.html' /}

#{form @inscription.sauvegardermoncompte()}
<div id="corp">

<h1><center>Editer mon compte</center></h1>

<br><br>

#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}
 <br> 
 
 <input type="hidden" name="user.id" value="${user.id}" />
	<center>
	<table>
		<tr>
			<td><label for="pseudo">Pseudo</label></td>
			<td>	
				<input type="text" name="pseudo" value="${user?.pseudo}" />
	    		<span class="error">#{error 'user.pseudo' /}</span>
    		</td>
	    </tr>
	    <tr></tr>
	    <tr>
			<td><label for="password">Mot de passe</label></td>
			<td>	
				<input type="text" name="password" value="${user?.password}" />
	    		<span class="error">#{error 'user.password' /}</span>
    		</td>
	    </tr>
	    <tr></tr>
	</table>
	<br>
	
	<input type="submit" class="rounded" style="width:75px" value="Valider"/>
	</center>

</div>	
#{/form}	
#{include 'footer.html' /}