#{set title:'TRANSAT' /}
#{include 'header.html' /}

#{include 'menu.html' /}

<div id="corp">
	<H2>Nos courses</H2>
	<br>
	<table>
		<tr>
			<td><img src="/public/images/course1.jpg" height="90px" width="160px" ><td>
			<td style="text-align:justify">
				<h3>900 Nautiques de Saint Tropez</h3><br>
				D&eacute;part de Saint-Tropez le samedi 31 mars, en direction des Bal&eacute;ares 
				(ou de la Sardaigne) avant de remonter la Corse sur le versant Est (ou l&apos;Italie
				sur le versant ouest).
			</td>
		</tr>
		<tr height="15px">
		</tr>
		<tr>
			<td><img src="/public/images/course2.jpg" height="90px" width="160px" ><td>
			<td style="text-align:justify">
				<h3>Solidaire du Chocolat</h3><br>
				La premi&egrave;re transatlantique de l'ann&eacute;e 2012, sous le signe de la solidarit&eacute;.
				Destination le Mexique et la ville de Progreso. Le d&eacute;part sera donn&eacute; le dimanche
				1 avril 2012.
			</td>
		</tr>
		<tr height="15px">
		</tr>
		<tr>
			<td><img src="/public/images/course3.jpg" height="90px" width="160px" ><td>
			<td style="text-align:justify">
				<h3>Troph&eacute;e Jules Verne - Banque Populaire 2011-12</h3><br>
				Le Troph&eacute;e Jules Verne du Maxi Banque Populaire V est &agrave; nouveau sur 
				TRANSAT. Partez avec Banque Populaire ou quand vous le souhaitez !!
			</td>
		</tr>
	
	
	</table>
</div>

#{include 'footer.html' /}



