<div class="all">
    <div id="header"></div>
    <div class="contenu">
        <div id="menu">
            <div class="mrecherche"></div>
            <div class="mhaut"><p><a title="Accueil" href="@{Admin.index}">Accueil</a></p></div>
            <div class="mfond"><p><a title="Accueil" href="@{Admin.editerCompte}">Editer son compte</a></p></div>
            <div class="mfond"><p><a title="Accueil" href="@{Admin.editerBateau}">Modifier le bateau</a></p></div>
            <div class="mfond"><p><a title="Accueil" href="@{Admin.courses}">Courses</a></p></div>            
            <div class="mfond"><p><a title="Accueil" href="@{Forums.index}">Forum</a></p></div>
            <div class="mfond"><p><a title="Accueil" href="@{Secure.logout}">Se d&eacute;connecter</a></p></div>
            
        </div>