<div class="all">
    <div id="header"></div>
    <div class="contenu">
        <div id="menu">
            <div class="mrecherche"></div>
            <div class="mhaut"><p><a title="Accueil" href="@{Admin.index}">Accueil</a></p></div>
            <div class="mfond"><p><a title="Accueil" href="@{Application.index}">Se d&eacute;connecter</a></p></div>
            <div class="mfond"><p><a title="Accueil" href="@{Admin.courses}">Courses</a></p></div>            
            <div class="mfond"><p><a title="Accueil" href="#">Forum</a></p></div>
        </div>