<div class="all">
    <div id="header"></div>
    <div class="contenu">
        <div id="menu">
            <div class="mrecherche"></div>
            <div class="mhaut"><p><a title="Accueil" href="@{Application.index}">Accueil</a></p></div>
            <div class="mfond"><p><a title="Accueil" href="@{Application.identification}">S'identifier</a></p></div>
            <div class="mfond"><p><a title="Accueil" href="@{Application.inscription}">S'inscrire</a></p></div>
            <div class="mfond"><p><a title="Accueil" href="@{Application.courses}">Courses</a></p></div>            
            
        </div>